header{
    display: flex;
    justify-content: center;
    background-color: cyan;
    padding: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    background-color: cyan;
    padding: .5rem;
}

#grid-vendas{
    border: 1px solid gray;
}

#vendas, #vendasRealizadas{
    padding: 2rem;
}

#detalhesPedidos{
    background-color: #3a46de;
    padding: 1rem;
    border-radius: 1rem;
}

#VR{
    background-color:#8992fa;
}

.btn{
    margin: 1rem;
}

#btns{
    display: flex;
}

a{
    text-decoration: none;
}